body {  /*the outer layer of the site and global style attributes*/
font-family: "Open Sans", "Helvetica Neue", Helvetica, Arial, sans-serif, "Impact";
margin: 0px;

}

#content {
  /* height: 300px;*/
}

div {
    display: block;
}
#main_page {
   position: absolute;
   top:15%;
   width:100%;
}


form{
   margin:0 auto;
   font-size: 10px; 
   margin-top: 17px;
   margin-bottom: 15px;
   margin-left: 5px;
   vertical-align: middle;
   width: 30%;
   font-size: 26px;
}

#main_page {
   position: absolute;
}

#search { 
   display: inline-block;
   vertical-align: middle;
   width: 30%;
}
.item.w2 { width:  120px; }
.item.w3 { width:  180px; }
.item.w4 { width:  240px; }

.item.h2 { height: 100px; }
.item.h3 { height: 130px; }
.item.h4 { height: 180px; }

.masonry {
  max-width: 98%;
  margin-left: 10px;

}
h2 { 
   position: absolute;
   color: white;
   top: -10px; 
   left: 0; 
   width: 80%; 
   margin-left: 10px;
}
h3 { 
   position: absolute;
   color: white;
   font-size: 16;
   top: 25px; 
   left: 0; 
   width: 80%; 
   margin-left: 10px;
}

.masonry .item {
  float: left;
}
.item:hover {
   opacity: 0.8;
   outline: 2px solid green;
}

#top_stuff {
   position: fixed;
   top: 0;
   z-index: 999;
   width: 100%;
}
#top_bar {
   width: 100%;
   top: -16;
   z-index: 999;
   position: fixed;
   list-style: none;
   width: 100%;
   float: left;
   padding: 0;
   background-color: #B71C1C;
}
#top_bar li {
   float: left;
}
#top_bar li a {
   display: block;
   color: #FAFAFA;
   padding: 15px 15px;
   text-decoration: none;
}
#top_bar li a:hover {
   background-color: #E0E0E0;
   color: grey; 
   font-weight: 600;

}

#content {
   margin: 0 auto;
}

.text-box {
   margin-left: 7px;
   font-family: helvetica; 
}

body {
   min-width:900px;
}

h4 {
   font-size: 1.2em;
   padding: 1em 8px;
   color: #333;
   margin: 5; 
}

h1 {
   font-size: 1.5em;
   padding: 1em 8px;
   color: #333;
   margin: 0; 
}
.paragraph {
   margin-left: 15px;
}

.special {
   font-weight: 700;
   margin-top: 15px;

}

